@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');
/* custom b4 css */
a {
	text-decoration: none;
	cursor: pointer;
}

/* buttons */
.large-btn{
	background-color: #CC0039;
	padding: 0.5rem 2rem;
	cursor: pointer;
	border-top-right-radius: 26px;
	color: #fff;
	border: none !important
}
.btn2{
	margin-left: 11rem;
}

/*Containers*/
.ui-wrapper {
	width: 100%;
	padding: 1em 0;
}
.ui-wrapper-medium {
	width: 100%;
	padding: 2.5em 0;
}
.ui-wrapper-large {
	width: 100%;
	padding: 5em 0;
}
.ui-wrapper-xlarge {
	width: 100% ;
	padding: 7em 0;
}
.ui-wrapper-xxlarge {
	width: 100%;
	padding: 9em 0;
}

/*font size in pixels*/

.fs-norm {
	font-size: 16px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-1, .fs-1 a, .fs-1 span{
	font-size: 1px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-2, .fs-2 a, .fs-3 span{
	font-size: 2px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-3{
	font-size: 3px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-4{
	font-family: 'Raleway', sans-serif;
	font-size: 4px !important;
}
.fs-5{
	font-size: 5px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-6{
	font-size: 6px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-7{
	font-size: 7px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-8{
	font-size: 8px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-9{
	font-size: 9px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-10{
	font-size: 10px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-11{
	font-size: 11px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-12{
	font-size: 12px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-13{
	font-size: 13px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-14{
	font-size: 14px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-15{
	font-size: 15px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-16{
	font-size: 16px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-17{
	font-size: 17px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-18{
	font-size: 18px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-19{
	font-size: 19px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-20{
	font-size: 20px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-21{
	font-size: 21px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-22{
	font-size: 22px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-23{
	font-size: 23px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-24{
	font-size: 24px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-25{
	font-size: 25px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-26{
	font-size: 26px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-27{
	font-size: 27px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-28{
	font-size: 28px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-29{
	font-size: 29px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-30{
	font-size: 30px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-31{
	font-size: 31px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-32{
	font-size: 32px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-33{
	font-size: 33px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-34{
	font-size: 34px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-35{
	font-size: 35px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-36{
	font-size: 36px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-37{
	font-size: 37px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-38{
	font-size: 38px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-39{
	font-size: 39px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-40{
	font-size: 40px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-41{
	font-size: 41px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-42{
	font-size: 42px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-43{
	font-size: 43px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-44{
	font-size: 44px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-45{
	font-size: 45px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-46{
	font-size: 46px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-47{
	font-size: 47px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-48{
	font-size: 48px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-49{
	font-size: 49px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-50{
	font-size: 50px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-55{
	font-size: 55px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-56{
	font-size: 56px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-60{
	font-size: 60px !important;
	font-family: 'Raleway', sans-serif;
}
.fs-65{
	font-size: 65px !important;
	font-family: 'Raleway', sans-serif;
}

/*margins bottom*/
.mrgr1{
	margin-right: .5em !important;
}
.mrgr2{
	margin-right: 2em !important;
}
/*margins left*/
.mrgl1{
	margin-left: .5em !important;
}
.mrgl2{
	margin-left: 2em !important;
}
/*margins bottom*/
.mrgb0{
	margin-bottom: 0 !important;
}
.mrgb{
	margin-bottom: 0.5em !important;
}
.mrgb1{
	margin-bottom: 1em !important;
}
.mrgb2{
	margin-bottom: 2em !important;
}
.mrgb3{
	margin-bottom: 3em !important;
}
.mrgb4{
	margin-bottom: 4em !important;
}
.mrgb5{
	margin-bottom: 5em !important;
}
.mrgb6{
	margin-bottom: 6em !important;
}
.mrgb7{
	margin-bottom: 7em !important;
}
.mrgb8{
	margin-bottom: 8em !important;
}
.mrgb9{
	margin-bottom: 9em !important;
}
.mrgb10{
	margin-bottom: 10em !important;
}
/*Margin top*/
.mrgt{
	margin-top: 0.5em !important;
}
.mrgt1{
	margin-top: 1em !important;
}
.mrgt2{
	margin-top: 2em !important;
}
.mrgt3{
	margin-top: 3em !important;
}
.mrgt4{
	margin-top: 4em !important;
}
.mrgt5{
	margin-top: 5em !important;
}
.mrgt6{
	margin-top: 6em !important;
}
.mrgt7{
	margin-top: 7em !important;
}
.mrgt8{
	margin-top: 8em !important;
}
.mrgt9{
	margin-top: 9em !important;
}
.mrgt10{
	margin-top: 10em !important;
}
/*margin left*/

/*padding right*/
.pdr0{
	padding-right: 0 !important;
}
.pdr{
    padding-right: 0.5em !important;
}
.pdr1{
    padding-right: 1em !important;
}
.pdr2{
    padding-right: 2em !important;
}
.pdr3{
    padding-right: 3em !important;
}
.pdr4{
    padding-right: 4em !important;
}
.pdr5{
    padding-right: 5em !important;
}
.pdr6{
    padding-right: 6em !important;
}
.pdr7{
    padding-right: 7em !important;
}
.pdr8{
    padding-right: 8em !important;
}
.pdr9{
    padding-right: 9em !important;
}
.pdr10{
    padding-right: 10em !important;
}
/*padding left*/
.pdl0{
    padding-left: 0 !important;
}
.pdl{
    padding-left: 0.5em !important;
}
.pdl1{
	padding-left: 1em !important;
}
.pdl2{
	padding-left: 2em !important;
}
.pdl3{
	padding-left: 3em !important;
}
.pdl4{
	padding-left: 4em !important;
}
.pdl5{
	padding-left: 5em !important;
}
.pdl6{
	padding-left: 6em !important;
}
.pdl7{
	padding-left: 7em !important;
}
.pdl8{
	padding-left: 8em !important;
}
.pdl9{
	padding-left: 9em !important;
}
.pdl10{
	padding-left: 10em !important;
}
/*padding top*/
.pdt0{
	padding-top: 0 !important;
}
.pdt{
    padding-top: 0.5em !important;
}
.pdt1{
    padding-top: 1em !important;
}
.pdt2{
    padding-top: 2em !important;
}
.pdt3{
    padding-top: 3em !important;
}
.pdt4{
    padding-top: 4em !important;
}
.pdt5{
    padding-top: 5em !important;
}
.pdt6{
    padding-top: 6em !important;
}
.pdt7{
    padding-top: 7em !important;
}
.pdt8{
    padding-top: 8em !important;
}
.pdt9{
    padding-top: 9em !important;
}
.pdt10{
    padding-top: 10em !important;
}
/*padding bottom*/
.pdb{
    padding-bottom: 0.5em !important;
}
.pdb1{
    padding-bottom: 1em !important;
}
.pdb2{
    padding-bottom: 2em !important;
}
.pdb3{
    padding-bottom: 3em !important;
}
.pdb4{
    padding-bottom: 4em !important;
}
.pdb5{
    padding-bottom: 5em !important;
}
.pdb6{
    padding-bottom: 6em !important;
}
.pdb7{
    padding-bottom: 7em !important;
}
.pdb8{
    padding-bottom: 8em !important;
}
.pdb9{
    padding-bottom: 9em !important;
}
.pdb10{
    padding-bottom: 10em !important;
}
/*background*/
.bg-black{
    color: black !important;
}
.bg-grey{
    color: #F5F5F5 !important;
}
.bg-grey2{
	background-color: #212529;
}



/* Colors */
.white {
    color: #fff !important;
}
.black{
    color: #000;
}

.cs-aco-red{
    color: #a70e10
}
.grey{
	color: #212529 !important;
}

.grey2{
	color: #6C757D;
}

.cs-aco-dred{
    color: #630000
}

.cs-hash{
	color: #d9d9d9
}

.csbg-aco-red{
    background-color: #a70e10
}

.csbg-aco-dred{
    background-color: #630000
}

.csbg-hash{
	background-color: #000000
}

.bgcs-hash{
	background-color: #fff6f6
}




/* font-weight */

.font-weight-xlight {
	font-weight: 100 !important;
}
.font-weight-light {
	font-weight: 300 !important;
}
.font-weight-medium {
	font-weight: 500 !important;
}
.font-weight-bold{
	font-weight: 700 !important;
}



/* custom css */
/* welcome */
.hr{
	width: 4rem;
	border-color: #630000;
	/* border-color:linear-gradient(to right(red),(blue)); */
	/* background-color: linear-gradient(to right(red),(blue)); */
}
.home-hero {
	/* background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
	background-color: #F5F5F5;
}
.method-item img{
    width: 100px;
}

/*  */

 .btn-ready{
	padding: 1.2rem 1.3rem;
    border-radius: 10px;
    cursor: pointer;
	color: #fff;
	background-color:  #630000
 }

 .card-body {
	background-color: #fff;
	border-radius: 10px;
	margin-right: 50rem;
 }
.brand{
	background-color: #F5F5F5;
}
/* footer */
.social{
	width: 12rem;
}
.social li a{
	text-decoration: none;
	color: #ffffff;
	list-style: none;
}
li {
	list-style-type: none;
  }
.vertical-line {
	border-left: 0.3px solid black;
	height: 160px;
	border-color:#6C757D;
	display: block;
  }
  .details{
	width: 7rem;
  }
.horizontal-line{
	border: 0.3px solid #6C757D;
}
.terms{
	width: 15rem;
}

  


  
 /* TEAM SECTION */
 .section-team {
	font-family: "Poppins", sans-serif;
	padding: 80px 0;
}

.section-team .header-section {
	margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
	font-size: 16px;
    font-weight: 500;
    color: #a70e10;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	background-color: #f6f9ff;
	border-radius: 5px;
}

.section-team .single-person:hover {
	background: linear-gradient(to right, #630000, #a70e10);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
	background: linear-gradient(to right, #630000, #a70e10);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
	background: none;
	background-color: #fff;
	color: #630000;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #630000;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
	color: #fff;
}

.team-bottom {
	border-radius: 10px;
	background: linear-gradient(to right, #8b0000, #a70e10);
	color: #fff;
	padding: 3rem;
}

.methodology{
	cursor: pointer;
	background-color: #ffffff;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 30px;
}
.methodology h1 {
	padding: 10px 0;
	margin-bottom: 20px;
}
.methodology h2 {
	opacity: .8;
}
.methodology img {
	display: block;
	width: 200px;
	height: 200px;
	line-height: 100px;
	margin:auto;
	border-radius:50%;  
	font-size: 40px;
	/* color: #FFFFFF; */
	/* opacity: 0.7; */
	background-color: transparent;
	/* border: 2px solid #4C0822; */

	-webkit-transition:all .5s ease;
 	-moz-transition:all .5s ease;
 	-os-transition:all .5s ease;
 	transition:all .5s ease;

}
.methodology-item:hover img{
	opacity: 1;	
	/* border: 2px solid #CC0039; */
	font-size: 42px;
	-webkit-transform: scale(1.1,1.1) rotate(360deg) ;
	-moz-transform: scale(1.1,1.1) rotate(360deg) ;
	-o-transform: scale(1.1,1.1) rotate(360deg) ;
	transform: scale(1.1,1.1) rotate(360deg) ;
}
.methodology-item:hover h2{
	opacity: 1;
	-webkit-transform: scale(1.1,1.1)  ;
	-moz-transform: scale(1.1,1.1)  ;
	-o-transform: scale(1.1,1.1)  ;
	transform: scale(1.1,1.1) ;
}
.methodology .lead{
	color: #CC0039;
	font-size: 14px;
	font-weight: bold;
}

/* who we are */
.works{
	text-align: start;
}

.text{
	width: 25rem;
	margin-top: 10rem;
	margin-left: 5rem;

}
.quote{
	position: absolute;
	top: 25em;
	width: 75%;
	margin: auto;
	padding: 2rem 3.5rem;
	border-radius: 25px;
}
.img{
	background-image: url("../../../assets/images/image.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
}

.line--aco{
	border-bottom: 5px solid #CC0039;
	color: #CC0039 !important;
}
.line--acoo{
	/* border-bottom: 5px solid #CC0039; */
	color: #CC0039 !important;
	font-weight: 600;
}


/* navigation */
.nav-item{
	color: red !important;
}
.nav-link:hover {
  color: #CC0039;
  font-weight: 700 !important;
  border-bottom: #CC0039 solid 1px;
}

.navbar {
	background-color:#ffffff!important;
}

.active {
	color: #CC0039  !important;
	font-weight: 700 !important;
	border-bottom: #CC0039 solid 1px;
}


.owl-item.active {
	color: none  !important;
	font-weight: 700 !important;
	border-bottom: none !important;
}
.nav-link {
	color: black;

}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: #fff solid 1px;
    border-radius: 10px;
    transition: var(--bs-navbar-toggler-transition);
}
.stick{
	background-color: #fff !important;
	position: fixed !important;
}
/* conversation */
.conversation{
	background-color: #F5F5F5;
}
.form-control{
	background-color: #F5F5F5;
}
.text2{
	width: 23rem;
	margin-top: 7rem;
	margin-left: 13rem;

}
.maintenance {
    /* background-image: url(https://demo.wpbeaveraddons.com/wp-content/uploads/2018/02/main-1.jpg); */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

.maintenance {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.maintenance {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.maintenance_contain {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;  
    padding: 15px;  
}
.maintenance_contain img {
    width: auto;
    max-width: 100%;
}
.pp-infobox-title-prefix {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin-top: 30px;
    text-align: center;
}

.pp-infobox-title-prefix {
    font-family: sans-serif;
}

.pp-infobox-title {
    color: #000000;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    word-break: break-word;  
}

.pp-infobox-description {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.pp-infobox-description p {
    margin: 0;
}

.title-text.pp-primary-title {
    color: #000000;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 50px;
    margin-bottom: 0px;
}

.pp-social-icon {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    line-height: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.pp-social-icon a {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.pp-social-icon a i {
    border-radius: 100px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

.pp-social-icon:nth-child(1) a i {
    color: #4b76bd;
}
.pp-social-icon:nth-child(1) a i {
    border: 2px solid #4b76bd;
}
.pp-social-icon:nth-child(2) a i {
    color: #00c6ff;
}
.pp-social-icon:nth-child(2) a i {
    border: 2px solid #00c6ff;
}
.pp-social-icon:nth-child(3) a i {
    color: #fb5245;
}
.pp-social-icon:nth-child(3) a i {
    border: 2px solid #fb5245;
}
.pp-social-icon:nth-child(4) a i {
    color: #158acb;
}
.pp-social-icon:nth-child(4) a i {
    border: 2px solid #158acb;
}

.pp-social-icons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.underline-ash {
	margin-top: -45px;
	width: 250px;

}

.company img{
	width: 120px !important;
}